form{
    color: #ffffff;
    margin-top: 30px;
    margin-left: 40%;
    width: 500px;

}
form label{
    color: #ffb53e;
}
.btn{
    background-color:darkblue;
    border: 2px solid black;
    color: white;
    margin-left: 95px;
    justify-items: center;
    margin-left: 195px;



}

h2{
    justify-items: center;
    text-align: center;
    color: #ffb53e;

}