.box{
    
    margin-top: 30px;
    border-radius: 20px;
    border: 5px black solid;
    width: 325px;
    height: 325px;
    background-color:  rgb(255, 255, 255);
    text-align: center;
    margin-left: 30px; ;
    color: rgb(0, 0, 0);
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.box:hover {
    background-color: rgb(104, 103, 103);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
  }


h2{ margin-left: 40%;
    display: flex;
}

.banners{
    margin-left:20%;
    margin-top: 50px;
    display: flex;}

.chart-container{
    margin-left: 300px;
    width: 900px;
    height: 300px;
}