body{
    background-color:#000000 ;
    position: relative;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.top-bar{
  border: 2px black solid;

    position: absolute fixed;
    height: 75px;;
    background-color: #ffb53e;
    align-items: center;}

.top-bar .top-bar-content > li > a:hover {
    background-color:black;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s, color 0.3s;
    }

    .top-bar .top-bar-content > li > a > img {
      height: 25px;
      width: 25px;
      }
  

 .logo  img{
    height:75px;
    width: 75px;
    margin-left: 45px;
    margin-top: 0px;
    padding-top: 0%;
    margin-bottom: 55px;
  }
.top-bar-content {
    position: fixed absolute;
    float: right;
    padding-top: 10px;
    color: white;
}

.sidebar {
  border: 2px black solid;
    position: absolute fixed;
    height: 100%;
    width: 185px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:  #ffb53e;
    padding-top: 20px;
    align-items: ;
   
  }
  .sidebar-options li{
  left: 0;
  margin-top: 55px;
  padding-top: 15px;  }

  .sidebar-options{
    margin-top: 20px;
    padding-left: 0px;
  }

  .sidebar .nav-pills > li > a {
    padding: 1px 1px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: block;
  }
  
  /*.sidebar .nav-pills > li > a:hover {
    background-color: #8a8a8a;
    color: #00ff2a;
    transition: background-color 0.3s, color 0.3s;
  }*/
  
  .footer {
    border: 2px #000000;

    background-color: #ffb53e;
    width: 100%;
    height: 50px;
    display: flex;
    position: relative ;
    bottom: 1px;
    margin-top: 110px;
    justify-content: flex-end;
    align-items: center;
    min-height: 10vh;
    
  }
  
  .button-container {
    margin-right: 10px;
  }
  

.help{
  margin-left: 350px;
}

.policy{
  margin-left: 350px;
}




/* CSS */
.button-59 {
  
  align-items: center;
  background-color:black;
  border:0px solid #000;
  box-sizing: border-box;
  color: #ffb53e;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 55px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 1px;
  /*min-width: 55px;*/
  width: 178px;
  border-radius: 6px;
  outline: 0;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  background-color: #ffb53e;
  color: rgb(255, 255, 255);
  fill: #06f;
  border: 2px solid black;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 85px;
  }
}

label{
  color: black;
}

h2{
  color: black;
}

.footer .button-container > a:hover {
  height: 30px;
  background-color: darkcyan;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s, color 0.3s;
  }

  .footer .button-container > a {
    text-decoration: none;
    padding: 15px;
    height: 5px;
    }

.all-content{
  min-height: 70vh;
}