.grid-container {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
  }

.item1{
    margin-left: 300px;
    margin-right: 300px;
    grid-column: span 3;
    grid-row: span 4;
}

.item1:hover{
  transform: scale(0.99);
}

.form{
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
}
