.grid-container {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
  }

.item1{
    margin-left: 100px;
    margin-right: 100px;
    grid-column: span 3;
    grid-row: span 8;
}