/* Main.css */
body{
    margin: 0;
    padding: 0;
    background-image: url(../images/1.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-family: "Segoe UI";
}

.imag{
    border-radius: 3px;
    box-shadow: 2px 2px 5px;
}

.navi{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #192d36;
    align-items: center;
    width: 100vw;
    z-index: 1000;
}

.icon{
    margin: 5px;
    padding-left: 30px;
}

.button{
    background : none;
    border : none;
    font-size: large;
    font-weight: bold;
    color: #fcff61;
    margin-left: 25px;
    text-decoration: none;
}

.button:hover{
    color: honeydew;
    text-decoration: underline;
    transform: scale(1.05);
}

.title{
    font-weight: bold;
    color: #fcff61;
    transition: all 0.3s ease;
}

.title:hover{
    color: white;
    transform: scale(1.05);
}

.foot{
    position: relative;
    bottom: 0;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: #29434e;
    width: 100vw;
    align-items: center;
}
.foot p{
    color: silver;
}

.foot a{
    text-decoration: none;
    color: silver;

}

.foot a:hover{
    color: white;
    text-decoration: underline;
    transform: scale(1.05);
}

/* Home.css */




.but:hover {
    background: #d0d0d0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-decoration: underline;
  }



.grid-item {
    background-color:rgba(245, 245, 245, 0.6);
    border-radius: 5px;
    box-shadow: 0 4px 12px black;
    padding: 20px;
    padding-top: 5px;
    text-align: center;
    
  }

.grid-item:hover {
    background: rgba(245, 245, 245, 0.6);
    box-shadow: 0 8px 16px black;
    transform: scale(1.05) ; 
    cursor: pointer; 
    font-family: "Segoe UI";
    transition: all 0.3s ease;
}


.main{
    background-color: transparent;
    min-height: 75vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.main video{
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-15%,-15%);
    z-index: -1;
}

.back{
    position: fixed;
    top: 0;
    z-index: -10;
}

.bttn{
    text-decoration: none;
}