{% extends "BASE_ADMIN.html"%}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %} ADD QUALIFICATION{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="static/css/adduser.css">
{% endblock %}


{% block content %}  

    <h2><strong>ADD NEW QUALIFICATION</strong></h2>
    <form method="POST" class=" d-flex justify-content align-items-center mn-vh-100">
        {{ form.hidden_tag() }}
        {{form.qualificationname.label(class="form-label")}}
        {{form.qualificationname(class="form-control")}}
        

      
        <br>
        {{form.submit_btn(class="btn btn-primary")}}
    </form>

{% endblock %}