{% extends "BASE_ADMIN.html"%}
{% block title %}  ADMIN HOME{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="static/css/ADMINHOME1.css">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


{% endblock %}

{% block content %}   
<div class="banners">
<div class="col box">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal"><strong>TOTAL USERS</strong></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">2399<small class="text-body-primary ">users</small></h1>
        

        <button type="button" class="w-100 btn btn-lg btn-outline-primary">LIST USERS</button>
      </div>
    </div>
  </div>

  <div class="col box">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal"><strong>TOTAL ENQUIREIS</strong></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">34<small class="text-body-primary ">enquires</small></h1>
        

        <button type="button" class="w-100 btn btn-lg btn-outline-primary">LIST ENQUIRES</button>
      </div>
    </div>
  </div>

  <div class="col box">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal"><strong>NEW USERS</strong></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">29<small class="text-body-primary ">new users</small></h1>
        

        <button type="button" class="w-100 btn btn-lg btn-outline-primary">ADD USER</button>
      </div>
    </div>
  </div>
    

</div>

<!--PIE CHART-->
<div class="chart-container">
    <canvas id="myPieChart"></canvas>
</div>

<script>
    const ctx = document.getElementById('myPieChart').getContext('2d');
    const myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Value 1', 'Value 2', 'Value 3', 'Value 4'],
            datasets: [{
                data: [43, 20, 30, 40],
                backgroundColor: ['red', 'blue', 'green', 'yellow'],
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Pie Chart Example'
                }
            }
        }
    });
</script>

{% endblock %}