{% extends "bootstrap/base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="static/css/ADMIN_BASE.css">

{% endblock %}

{% block title %} Title from base template {% endblock %}
<!--TOP BAR-->
{% block navbar %}
  <div class="container-fluid top-bar">
    
    
    
    <ul class="nav navbar-nav top-bar-content">
      <li class=""><a href="/"><strong>HOME</strong></a></li>
      <li><a href="#"><strong>MESSAGES</strong></a></li>
      <li><a href="#"><strong>NOTIFICATION</strong></a></li>
      <li><a href="#"><img src="static/images/power-23346_1280.png" alt="Log-Out"></a></li>
    </ul>
  </div>
</nav>

<!--SIDE BAR-->

<div class="sidebar">
  <div class="logo">
    <a class="navbar-nav" href="/"><img src="static/images/3.png" alt=""></a>
  </div>
  <ul style="list-style-type: none;" class="sidebar-options item1">
    <li><a href="/listusers" ><button class="button-59" role="button">USER</button></a></li>
    <li><a href="/listenquires"><button class="button-59" role="button">ENQUIRIES</button></a></li>
    <li><a href="/listqualification"><button class="button-59" role="button">QUALIFICATIONS</button></a></li>
    <li><a href="/listcourse"><button class="button-59" role="button">COURSES</button></a></li>
  </ul>
</div>

<!--FOOTER-->

<div class="footer">
  <div class="button-container">
    <button class="button-59" role="button">BACK2TOP</button>

    <a href="/policy"><button class="button-59" role="button">POLICY</button>
    </a>
    <a href="/help"><button class="button-59" role="button">HELP</button>
    </a>
   
  </div>
</div>


{% endblock %}




