{% extends "BASE_ADMIN.html"%}
{% import "bootstrap/wtf.html" as wtf%}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="static/css/listenquires.css">
  <head>
{% endblock %}

{% block title %}  LIST OF ENQUIRES{% endblock %}



{% block content1 %}  

<div class="container">
    <table class="table table-bordered thead-light border p-3 mb-3">
        <thead >
            <tr>
            <th scope="col">ID</th>
            <th scope="col">USER ID</th>
            <th scope="col">COURSE</th>
            <th scope="col">TIME</th>
            <th scope="col">MESSAGE</th>
            <th scope="col">STATUS</th>
            <th scope="col">RESOURCE</th>
            <th scope="col" colspan="2" style="text-align: center;">OPTIONS </th>

            </tr>
        </thead>
            <tbody class="row-gx-3">
            {% for enquiry in all_enquiry %}
              <tr>
                <td>{{enquiry.enqid}}</td>
                <td>{{enquiry.userid}}</td>
                <td>{{enquiry.course}}</td>
                <td>{{enquiry.enquiry_date}}</td>
                <td>{{enquiry.message}}</td>
                <td>{{enquiry.status}}</td>
                <td>{{enquiry.resource}}</td>


                <td style="text-align: center;"><button class="btn btn-warning"><a href="/editenquiry/{{enquiry.enqid}}">EDIT</a></button></td>
                <td><button class="btn btn-warning"><a href="/deleteenquiry/{{enquiry.enqid}}">DELETE</a></button></td>
                
              </tr>
            {% endfor %}

            </tbody>
          </table>
    <a href="/addenquiry"><button class="btn-lg btn-block button-33" role="button">ADD ENQUIRY</button></a>

    </div>
{% endblock %}