{% extends "BASE_ADMIN.html"%}
{% import "bootstrap/wtf.html" as wtf%}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="static/css/listenquires.css">
  <head>
{% endblock %}

{% block title %}  LIST OF ENQUIRES{% endblock %}



{% block content %}  

<div class="container">
    <table class="table">
        <thead class="bg-dark">
            <tr>
            <th scope="col">ID</th>
            <th scope="col">USER ID</th>
            <th scope="col">COURSE</th>
            <th scope="col">TIME</th>
            <th scope="col">MESSAGE</th>
            <th scope="col">OPTIONS </th>
            


            </tr>
        </thead>
            <tbody class="row-gx-3">
            {% for employee in all_employees %}
              <tr>
                <th scope="row">{{employee.id}}</th>
                <td>{{employee.name}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.age}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.profile.address}}</td>

                <td>{{employee.profile.gender}}</td>

                <td style="text-align: center;"><button class="btn btn-warning"><a href="/edituser/{{user.id}}">EDIT</a></button>&nbsp;|&nbsp;<button class="btn btn-warning"><a href="/deleteuser/{{contact.id}}">DELETE</a></button></td>
                
              </tr>
            {% endfor %}

            </tbody>
          </table>
    <a href="/addenquiry"><button class="btn-lg btn-block button-33" role="button">ADD ENQUIRY</button></a>

    </div>
{% endblock %}