{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/Login.css',external=True)}}">
 {% endblock %}
{% block title %}
{{ super() }} - Login{% endblock %}
{%block navbuttons%}
{{ super() }}
{%endblock%}
{% block page_content %}
    
    <section class="grid-item item1">
        <h3 style="font-weight: bold;">LOGIN</h3><br>
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
    
            <div class="mb-3 form"> 
                <label for="email" class="form-label">{{ form.email.label }} :</label>
                {{ form.email(class="form-control") }}
                {% if form.email.errors %}
                    <div class="text-danger">{{ form.email.errors[0] }}</div>
                {% endif %}
            </div>
            <br>
            <div class="mb-3 form">
                <label for="password" class="form-label">{{ form.password.label }} :</label>
                {{ form.password(class="form-control") }}
                {% if form.password.errors %}
                    <div class="text-danger">{{ form.password.errors[0] }}</div>
                {% endif %}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
        </form>
        <br>
        <div class="mt-3">
            <a href="/register">Don't have an account? Sign Up</a>
        </div>
    </section>
{%endblock%}