{% extends "UserBase.html" %}
{% block head %}{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/Userenq.css',external=True)}}">
 {% endblock %}
{% block title %}
{{ super() }} Enquire{% endblock %}

{%block contents%}
 <h1>Course Enquiry</h1><br>
 <form method="POST" action="{{ url_for('courses') }}">
    {{ form.hidden_tag() }}

    <div class="mb-3 form">
        <label for="userid" class="form-label">{{ form.userid.label }} :</label>
        {{ form.userid(class="form-control") }}
        {% if form.userid.errors %}
            <div class="text-danger">{{ form.userid.errors[0] }}</div>
        {% endif %}
    </div>
    <br>
    <div class="mb-3 form">
        <label for="courseid" class="form-label">{{ form.courseid.label }} :</label>
        {{ form.courseid(class="form-control") }}
        {% if form.courseid.errors %}
            <div class="text-danger">{{ form.courseid.errors[0] }}</div>
        {% endif %}
    </div>
    <br>
    <div class="mb-3 form">
        <label for="message" class="form-label">{{ form.message.label }} :</label>
        {{ form.message(class="form-control", rows=3) }}
        {% if form.message.errors %}
            <div class="text-danger">{{ form.message.errors[0] }}</div>
        {% endif %}
    </div>
    <br>
    <br>
    <div class="mb-3 form">
        <label for="resource" class="form-label">{{ form.resource.label }} :</label>
        {{ form.resource(class="form-check-input") }}
        {% if form.resource.errors %}
            <div class="text-danger">{{ form.resource.errors[0] }}</div>
        {% endif %}
    </div>
    <br>
    
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>
{%endblock%}