{% extends "UserBase.html" %}
{% block head %}{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/user_enq_list.css',external=True)}}">
 {% endblock %}
{% block title %}
{{ super() }} Enquiries list{% endblock %}

{%block contents%}
 <h1>Your Enquiries</h1><br>
 <table class="table table-striped table-hover">
    <tr class="head">
        <th>Enquiry ID</th>
        <th>Course Name</th>
        <th>Resource</th>
        <th>Message</th>
        <th>Status</th>
    </tr>
    {%for enq in all_enquiry%}
    <tr>
        <td>{{enq.enqid}}</td>
        <td>{{enq.course}}</td>
        <td>{{enq.resource}}</td>
        <td>{{enq.message}}</td>
        <td>{{enq.status}}</td>

    </tr>
    {%endfor%}
</table>
{%endblock%}