{% extends "UserBase.html" %}
{% block head %}{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/userprofile.css',external=True)}}">

 {% endblock %}
{% block title %}
{{ super() }} Profile{% endblock %}

{%block contents%}
<h3>PROFILE</h3>
<table class="table table-striped table-hover details">
    <tr>
        <td>Username</td>
        <td>{{userprofile.username}}</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>{{userprofile.firstname}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{userprofile.lastname}}</td>
    </tr>
    <tr>
        <td>Date of Birth</td>
        <td>{{userprofile.date_of_birth}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{userprofile.gender}}</td>
    </tr>
    <tr>
        <td>Email ID</td>
        <td>{{userprofile.email}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{userprofile.phone_number}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{userprofile.address}}</td>
    </tr>
    <tr>
        <td>Qualification</td>
        <td>{{userprofile.highest_qualification}}</td>
    </tr>
    <tr>
        <td>Marks</td>
        <td>{{userprofile.marks}}</td>
    </tr>
    <tr>
        <td>Graduation Year</td>
        <td>{{userprofile.yearofgraduation}}</td>
    </tr>

</table>

{%endblock%}