{% extends "About Us.html" %}
{% block head %}{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/about.css',external=True)}}">
 {% endblock %}
{% block title %}
{{ super() }} - About Us{% endblock %}
{%block navbuttons%}
<a href="/user/dash"><button type="button" class="button" id="Home">Home</button></a>
<a href="/user/about"><button type="button" class="button" id="About">About Us</button></a>
<a href="/home"><button type="button" class="button" id="About">Logout</button></a>
{%endblock%}