{% extends "base.html" %}
{% block head %}{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/userdash.css',external=True)}}">
 {% endblock %}
{% block title %}
{{ super() }} - User{% endblock %}
{%block navbuttons%}
<button type="button" class="button" id="Home">Home</button>
<button type="button" class="button" id="About">About Us</button>
<button type="button" class="button" id="Logout"> Logout</button>
{%endblock%}

{%block gridout%}

{%endblock%}

{% block page_content %}
<aside class="grid-item item1 container">
    <h4 class="h_4">Full Name User</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle bb" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        My Profile
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <li><a href="#">View</a></li>
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle bb" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        My Enquiries
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <li><a href="#">View</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    


</aside>
<section class="grid-item item2">
    {%block contents%}

    {%endblock%}
</section>
{%endblock%}

