{% extends "base.html" %}
{% block head %}{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/courses.css',external=True)}}">
 {% endblock %}
{% block title %}
{{ super() }} - View Base{% endblock %}
{%block navbuttons%}
{{ super() }}
{%endblock%}

{%block gridout%}
<h1 style="text-align: center;text-decoration: underline;"> COURSES </h1>
{%endblock%}

{% block page_content %}
{#This part can go in a for loop#}
    <section class="grid-item item1">
        <div class="flexi">
        <img src="../static/images/java.jpg" alt="Java" width="200px">
        <div>
        <h4>JAVA master class</h4>
        <ul style="text-align: left;">
            <li>Java is simple.</li>
            <li>Java is robust</li>
            <li>Java is portable</li>
            <li>Java is platform independent.</li>
        </ul>
        </div>
        </div>
        <button class="button-37" role="button">Enquire Now</button><br>
    </section>
 
{%endblock%}